@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*,::after,::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
--White: hsl(0, 0%, 100%);
--Light-grayish-violet: hsl(270, 3%, 87%);
--Dark-grayish-violet: hsl(279, 6%, 55%);
--Very-dark-violet: hsl(278, 68%, 11%);
}

html{
  font-size: 62.5%;
  height: 100vh;
  max-width: 140rem;
  margin: 0 auto;
}
body{
  font-family: 'Space Grotesk', sans-serif;
  box-shadow: 0rem 1rem 2rem rgba(0,0,0,0.15);
  height: 100%;
  width: 100%;
}
.container{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;

}
.main{
  display: flex;
  align-items: center;
}

.sidebar{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 40%;
  background: url('./images/bg-main-desktop.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.card-wrapper{
  height: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.card-form{
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.card-form input{
  border: 0.1rem solid rgba(128, 128, 128, 0.135);
  outline: none;
  padding: 1rem;
  border-radius: 0.75rem;
  font-family: inherit;
}
.card-form label{
  padding-bottom: 1rem;
}
input::placeholder{
  font-size: 1.6rem;
  color: rgba(128, 128, 128, 0.339);
}
.card-name, .card-number, .cvc{
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
.expiry-cvc{
  display: flex;
  gap: 1rem;
}
.expiry{
  display: flex;
  flex-direction: column;
}
.expiry input{
  width: 40%;
}
.expiry .date{
  display: flex;
  gap: 1rem;
}
.cvc{
  flex:1;
}
.cards{
  position: relative;
  width: 100%;
}
.logo{
  position: absolute;
  top: -13rem;
  left: 7rem;
  z-index: 10;
}
.front-img{
  position: absolute;
  top: -15rem;
  left: 5rem;
}
.front-img img{
  max-width: 100%;
  display: block;
}
.back-img{
  position: absolute;
  top: 12rem;
  left: 15rem;
  width: 44rem;
}
.back-img img{
  max-width: 100%;
  display: block;
}
.btn{
  border: none;
  outline: none;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-family: inherit;
  border-radius: 0.5rem;
}
.btn-confirm{
  background: var(--Very-dark-violet);
  color: #fff;
  display: block;
  width: 100%;
}
.display-name, .display-card, .display-month, .display-year, .display-cvc{
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.display-name{
  bottom: 3rem;
  left: 5rem;
}

.display-card{
  bottom: 7rem;
  left: 5rem;
}

.display-month{
  bottom: 3rem;
  right: 5rem;
}

.display-year{
  bottom: 3rem;
  right: 3rem;
}
.back-img{
  position: relative;
}
.display-cvc{
  top:11rem;
  left: 35rem;
  z-index: 3;
}
.card-num-error{
  text-transform: none;
  font-size: 0.9rem;
  color: rgba(255, 0, 0, 0.542);
}
.card-number input.card-num-input-error{
  border: 1px solid rgba(255, 0, 0, 0.542);
}
.blank-error{
  text-transform: none;
  font-size: 0.9rem;
  color: rgba(255, 0, 0, 0.542);
}
form.card-form input.cardBlankError{
  border: 1px solid rgba(255, 0, 0, 0.542);
}

.success{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
}
.success h4{
  font-size: 1.7rem;
  text-transform: uppercase;
  padding-top: 3rem;
  letter-spacing: 0.3rem;
}
.success p{
  font-size: 1.4rem;
  color: rgba(128, 128, 128, 0.61);
  padding: 1.5rem 0;
}

footer{
  position: fixed;
  left: 45%;
  top: 95vh;
  height: 5rem;
  transform: translateY(-40%);
    margin-top: 3rem;
}

@media(max-width: 1000px){
  footer{
    position: static;
  }
  .card-wrapper{
    flex-direction: column;
  }
  .card-form{
    padding-top: 20rem;
  }
  .main{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .sidebar{
    width: 100%;
    height: 40%;
    align-self: top;
  }
   .back-img img{
    width: 30rem;
  }
  .front-img img{
    width: 30rem;
  }
  .back-img{
    top: 2.5rem;
    left:5.5rem;
  }
  .front-img{
    top:12rem;
    left:2rem;
    z-index: 20;
  }
  .logo{
    top:12.5rem;
    left: 3.5rem;
    z-index: 50;
  }
  .logo img{
    width: 60%;
  }
  .container{
    flex-direction: column;
  }
  .content{
    width: 100%;
  }
  .card-wrapper{
    width: 90%;
    margin: 0 auto;
  }

 
  .display-cvc {
    top: 7rem;
    left: 24rem;
    z-index: 30;
  }
}

@media(max-width: 700px){
  .back-img img{
    width: 30rem;
  }
  .front-img img{
    width: 30rem;
  }
  .back-img{
    top: 2.5rem;
    left:5.5rem;
  }
  .front-img{
    top:12rem;
    left:2rem;
    z-index: 20;
  }
  .logo{
    top:12.5rem;
    left: 3.5rem;
    z-index: 50;
  }
  .success{
    padding-top: 15rem;
    width: 100%;
  }
  
}
